* {
	color: rgb(225,67,24);
	text-shadow: 1.5px 1.25px rgb(0,0,0);
	background-color: transparent;
	z-index:-1;
}

@media screen and (min-width: 680px){
	aside{
		position: fixed;
		top: 15%;
		bottom: 15%;
		left: 60%;
		z-index: 1;
	}

	aside h2{
			background-color: rgba(255,255,255, .6);
	}
}

a:hover{
	font-style: italic;
	background-color: black;
}

body{
	background-image: url("char-background.png");
	background-size: 100%;
	background-attachment: fixed;
}

#char-best{
	color: ;
}

#copyright {
	margin: auto;
	width: 50%;
}

form{
	background-color: rgba(0,0,0,.5);
	width: 100%;
}

form button{
	width: 100%;
	background-color: rgba(225,67,24,.5);
	color: black;
	text-shadow: none;
	font-weight: bold;
}

form button:hover{
	background-color: rgba(0,0,0,1);
	color: rgb(225,67,24);
}

#good_job{
	background: none;
}

h1{
	color: black;
	 text-shadow:
	 0px -.2px .4px #fff,
	 0px -.2px 1px #FF3,
	 0px -1px 2px #F90,
	 0px -2px 4px #C33;   
}

h2{
	color: black;
	 text-shadow:
	 0px -.2px .4px #fff,
	 0px -.2px 1px #FF3,
	 0px -1px 2px #F90,
	 0px -2px 4px #C33;     
}

iframe{
	width: 100%
}

p {
	color: rgb(238,131,40);
}

section{
	width: 50%;
}

select{
	background-color: rgba(255,255,255,.5);
}

table{
	background-color: rgba(255,255,255,.5);
}

textarea{
	width: 100%;
	background-color: rgba(255,255,255,.5);
}

.x{
	color: rgb(139,164,204);
}

.y{
	color: rgb(238,131,40);
}